#forgot-password{
    height: 100vh;
    background: var(--blue-50);

    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-box{
            background-color: var(--white);
            height: 611px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 1rem;
            padding: 4rem 0;

            &-title{
                margin-bottom: 1.5rem;
                h1{
                    font-size: 3rem;

                    @media (max-width: 767px){
                        font-size: 2.5rem;
                    }
                }
            }

            &-body{
                
                p{
                    width: 70%;
                    margin: 0 auto;

                    @media (max-width: 767px){
                        width: 100%;
                    }
                }

                .form{
                    margin-top: 1.8rem;

                    .form-group{
                        margin: 0 auto;
                        text-align: center;

                        .mat-form-field{
                            width: 60%;

                            @media (max-width: 767px){
                                width: 94%;
                            }
                        }

                        .submit{
                            margin-top: 1rem;

                            button{
                                background-color: var(--purple);
                                color: var(--white);
                                padding: .4rem 3rem;
                                transition: all .4s;

                                &:hover{
                                    filter: brightness(.9);
                                }
                            }
                        }
                    }
                }
            }

            @media (max-width: 767px){
                padding: 4rem 1rem;
            }
        }
    }
}