<section id="forgot-password">
  <div class="container">
    <div class="container-box">
      <div class="container-box-title">
        <h1 class="text-center">Recuperação de senha</h1>
      </div>

      <div class="container-box-body">
        <p class="text-center">
          Digite seu e-mail cadastrado para que possamos enviar um link de recuperação de senha.
        </p>

        <div class="form">
          <form action="">
            <div class="form-group mb-3">
              <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput>
              </mat-form-field>

              <div class="submit">
                  <button class="btn">
                      Recuperar senha
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
