<section id="login">
    <div class="container">
        <div class="container-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="container-box-image">
                        <img src="../../../assets/imagens/background.svg" width="auto" alt="Background">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="container-box-form">
                        <div class="container-box-form-header">
                            <div class="item">
                                <p>Ainda não tem uma conta?</p>

                                <a href="/cadastro">
                                    Criar conta
                                </a>
                            </div>
                        </div>

                        <div class="container-box-form-body">
                            <h1>Login</h1>

                            <div class="form">
                                <form [formGroup]="formLogin" (ngSubmit)="logar()">
                                    <div class="form-group mb-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>E-mail</mat-label>
                                            <input type="email" matInput formControlName="email_login">
                                            <mat-error>Informe o seu e-mail</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Senha</mat-label>
                                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password_login">
                                            <mat-error>Informe a sua senha</mat-error>
                                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>

                                    <div class="forget-password">
                                        <a href="/forgot-password">Esqueci minha senha</a>
                                    </div>

                                    <div class="submit mt-3">
                                        <button type="submit" class="btn" onclick="login()">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>