<section id="encomendas">
    <div class="container">
        <div class="container-box-header">
            <div class="title">
                <h1>Encomendas</h1>
            </div>

            <div class="button" [routerLink]="['/cad-encomendas',id]">
                <a class="btn">
                    <mat-icon mat-list-icon>add</mat-icon>
                    Nova encomenda
                </a>
            </div>
        </div>

        <div class="container-box-table">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="destinatario">
                        <th mat-header-cell *matHeaderCellDef> Destinatário </th>
                        <td mat-cell *matCellDef="let element"> {{element.destinatario}} </td>
                    </ng-container>

                    <ng-container matColumnDef="bloco">
                        <th mat-header-cell *matHeaderCellDef> Bloco </th>
                        <td mat-cell *matCellDef="let element"> {{element.morador.bloco}} </td>
                    </ng-container>

                    <ng-container matColumnDef="apartamento">
                        <th mat-header-cell *matHeaderCellDef> Apartamento </th>
                        <td mat-cell *matCellDef="let element"> {{element.morador.apartamento}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dataCriacao">
                        <th mat-header-cell *matHeaderCellDef> Data de Entrega </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataCriacao}} as {{element.horaCriacao }} </td>
                    </ng-container>

                    <ng-container matColumnDef="dataEntrega">
                        <th mat-header-cell *matHeaderCellDef> Data de Entrega </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataEntrega}} </td>
                    </ng-container>

                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef> Descrição </th>
                        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    

                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef> Ações </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button matSuffix (click)="alterar(element.id, element.descricao, element.morador.id)">
                                <mat-icon style="color: green">checked</mat-icon>
                              </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </div>
</section>