<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
  
      <div class="perfil">
        <div class="foto-perfil">
          <figure>
            <img [src]="user.fotoPerfil ? user.fotoPerfil : '../assets/imagens/perfil.jpg' "
              alt="foto de perfil do usuario">
          </figure>
        </div>
        <div class="descricao">
          <span class="nome">{{ user.nome ? user.nome : 'Carlos henrique ' }}</span>
          <span class="email">{{ user.email ? user.email : 'machadopnn@gmail.com'}}</span>
        </div>
      </div>
  
      <div class="botoes">
        <button mat-raised-button color="primary">Editar Perfil</button>
        <button mat-raised-button color="warn">Sair</button>
      </div>
      <mat-selection-list  [multiple]="false">
        <mat-list-option routerLink=''>
          <mat-icon mat-list-icon>apartment</mat-icon>
          Editar condominio
        </mat-list-option>
        <mat-list-option routerLink=''>
          <mat-icon mat-list-icon>dashboard</mat-icon>
          Dashboard
        </mat-list-option>
      </mat-selection-list>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let menu of menu">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{menu.icon}}</mat-icon>
              <span>{{menu.descricao}}</span>
            </mat-panel-title>
  
          </mat-expansion-panel-header>
  
          <mat-selection-list *ngFor="let itens of menu.menuItem" [multiple]="false">
            <mat-list-option routerLink=''>
              {{itens.descricao}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <header>
        <mat-toolbar color="primary">
          <button (click)="open()" mat-icon-button>
            <mat-icon *ngIf="!opened">sort</mat-icon>
            <mat-icon *ngIf="opened">arrow_back</mat-icon>
          </button>
          <span>Soft Condominios</span>
          <div class="example-spacer">
  
          </div>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-toolbar>
      </header>
  
  <!-- conteudo do site -->
  <ng-content>
      
  </ng-content>
  
  
  
    </mat-sidenav-content>
  </mat-sidenav-container>