<section>
    <div class="container">
        <div class="container-box">
            <div class="container-box-title">
                <h1>Cadastrar conta</h1>
            </div>

            <div class="container-box-form">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input type="email" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Nome*</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input type="email" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>