<section id="cad-ocorrencias">
  <div class="container">
    <div class="container-title">
      <h1>Cadastrar Ocorrência</h1>
      <p>Preencha todos os campos abaixo para realizar o cadastro.</p>
    </div>

    <div class="container-form">
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Título</mat-label>
                <input matInput type="text" formControlName="title" required>
                <mat-error>Informe o título</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input matInput #message maxlength="256" required>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div class="col-12 mb-5 mt-3">
            <div class="form-group file">
              <label for="">Foto</label>
              <input type="file" name="" id="">
            </div>
          </div>
        </div>

        <div class="submit">
          <button type="submit" class="btn">
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
