<section id="home">
    <div class="container">
        <div class="container-header">
            <div class="row">
                <div class="col-md-6" *ngIf="condominio != ''">
                    <div class="card condominio">
                        <div class="icon">
                            <mat-icon class="icon" mat-list-icon>apartment</mat-icon>
                        </div>
                        
                        <div class="information">
                            <h6>{{condominio.nomeFantazia}}</h6>
                            <p>{{condominio.rua}}, {{condominio.numero}} - {{condominio.bairro}} - {{condominio.cidade}} - {{condominio.estado}} - {{condominio.cep}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card name w-100 h-100">
                        <div class="icon">
                            <mat-icon class="icon" mat-list-icon>person</mat-icon>
                        </div>
                        <div class="description">
                            <h5>{{dados.nome}} {{dados.sobrenome}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-information">
            <div class="title">
                <mat-icon>error_outline</mat-icon>
                <h2>Informativos</h2>
            </div>

            <div class="carousel">
                <swiper [slidesPerView]="4" [spaceBetween]="20">
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="item position-relative">
                            <div class="date">
                                <p>
                                    06/06/2021
                                </p>
                            </div>
                            <div class="image">
                                <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                            </div>
                            <div class="description">
                                <p>Novos horários para mudança</p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>

        <div class="container-atalhos">
            <div class="title">
                <mat-icon>shortcut</mat-icon>
                <h2>Informativos</h2>
            </div>

            <div class="options">
                <div class="item">
                    <a href="/sugestao">
                        <mat-icon>assistant</mat-icon>
                        <h5>Sugestão</h5>
                    </a>
                </div>

                <div class="item">
                    <a href="/documentos">
                        <mat-icon>folder_open</mat-icon>
                        <h5>Documentos</h5>
                    </a>
                </div>

                <div class="item">
                    <a href="/encomendas">
                        <mat-icon>local_shipping</mat-icon>
                        <h5>Encomendas</h5>
                    </a>
                </div>

                <div class="item">
                    <a href="/visitantes">
                        <mat-icon>supervisor_account</mat-icon>
                        <h5>Visitantes</h5>
                    </a>
                </div>

                <div class="item">
                    <a href="/ocorrencias">
                        <mat-icon>error_outline</mat-icon>
                        <h5>Ocorrências</h5>
                    </a>
                </div>

                <div class="item">
                    <a href="/cad-colaborador">
                        <mat-icon>badge</mat-icon>
                        <h5>Cadastrar Colaborador</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>