<section id="home">
    <div class="container">
        <div class="container-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="card condominio">
                        <div class="icon">
                            <mat-icon class="icon" mat-list-icon>apartment</mat-icon>
                        </div>
                        <div class="information">
                            <h6>Condomínio Residencial Ubá</h6>
                            <p>Rua Cambará, 1234 - SG - RJ - 24433-230</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card name w-100 h-100">
                        <div class="icon">
                            <mat-icon class="icon" mat-list-icon>person</mat-icon>
                        </div>
                        <div class="description">
                            <h5>Anna Grazielle da Conceição Silva</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-information">
            <div class="title">
                <mat-icon>error_outline</mat-icon>
                <h2>Informativos</h2>
            </div>

            <div class="carousel">
                <div class="item position-relative">
                    <div class="date">
                        <p>
                            06/06/2021
                        </p>
                    </div>
                    <div class="image">
                        <img src="../../../assets/imagens/calendario.jpg" width="100%" height="100%" alt="Image">
                    </div>
                    <div class="description">
                        <p>Novos horários para mudança</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>