#cad-encomendas {
    padding-top: 4rem;
  
    .container {
      &-title {
        margin-bottom: 3rem;
  
        h1 {
          color: var(--purple-100);
          font-weight: 400;
        }
      }
  
      &-form {
        .form-group {
          mat-form-field {
            width: 100%;
          }
        }
  
        .submit {
          text-align: center;
  
          button {
            background-color: var(--purple-150);
            color: var(--white);
            width: 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
  