<section id="documentos">
  <div class="container">
    <div class="container-box-header">
      <div class="title">
        <h1>Documentos</h1>
      </div>

      <div class="button">
        <a href="/cad-documentos" class="btn">
          <mat-icon mat-list-icon>add</mat-icon>
          Nova pasta
        </a>
      </div>
    </div>

    <div class="container-box-accordion mt-5">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <a href="" class="edit">
              <mat-icon>edit</mat-icon>
            </a>
            <a href="" class="trash">
              <mat-icon>restore_from_trash</mat-icon>
            </a>
            <mat-panel-title>
              <mat-icon>folder</mat-icon>
              Atas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="container-button">
              <a href="">
                Criar documento
              </a>
            </div>

            <div class="container-body">
              <div class="box">
                <div class="item">
                  <div class="icon">
                    <mat-icon> insert_drive_file</mat-icon>
                  </div>
                  <div class="name">
                    <p>Nome do documento salvo</p>
                  </div>
                </div>

                <div class="item">
                  <div class="icon">
                    <mat-icon> insert_drive_file</mat-icon>
                  </div>
                  <div class="name">
                    <p>Nome do documento salvo</p>
                  </div>
                </div>

                <div class="item">
                  <div class="icon">
                    <mat-icon> insert_drive_file</mat-icon>
                  </div>
                  <div class="name">
                    <p>Nome do documento salvo</p>
                  </div>
                </div>

                <div class="item">
                  <div class="icon">
                    <mat-icon> insert_drive_file</mat-icon>
                  </div>
                  <div class="name">
                    <p>Nome do documento salvo</p>
                  </div>
                </div>

                <div class="item">
                  <div class="icon">
                    <mat-icon> insert_drive_file</mat-icon>
                  </div>
                  <div class="name">
                    <p>Nome do documento salvo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</section>
