<section id="mudancas">
    <div class="container">
        <div class="container-title">
            <h1>Agendamento de Mudanças</h1>
        </div>

        <div class="container-body">
            <div class="container-body-item">
                <div class="date">
                    <div class="mes">
                        <span>Jun</span>
                    </div>
                    <div class="dia">
                        <span>
                            21
                        </span>
                    </div>
                    <div class="ano">
                        <span>2021</span>
                    </div>
                </div>

                <div class="description">
                    <div class="hora">
                        <p>Horário: 13:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>