/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
* {
    scrollbar-width: thin;
    scrollbar-color: blue transparent;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(60, 32, 126, 0.5);
    border-radius: 20px;
  }

:root{
  --white: #FFFFFF;

  --dark: #1C1C1C;

  --purple-50: #E3D9FD;
  --purple-100: #512DA8;
  --purple-150: #5231A2;
  --purple-200: #6200EE;
  --purple-250: #5232A0;

  --red-50: #C24777;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-list-text{
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

#ocorrencias{
  .mat-content{
    display: block;
    order: 2;
    margin-left: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-indicator{
    &::after{
      padding: .4rem;
      color: var(--purple-200)
    }
  }
}