/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
* {
    scrollbar-width: thin;
    scrollbar-color: blue transparent;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 255, 0.301);
    border-radius: 20px;
    
  }

:root{
  --white: #FFFFFF;

  --dark: #1C1C1C;

  --blue-50: #67DAFF;
  --blue-100: #03A9F4;

  --purple: #6C63FF;
  --purple-100: #6200EE;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
