<section id="sugestao">
    <div class="container">
        <div class="container-box-header">
            <div class="title">
                <h1>Sugestões</h1>
                <p>Nesta área você pode verificar as sugestões criadas pelos moradores do seu condomínio.</p>
            </div>
        </div>

        <div class="container-box-accordion mt-5">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon mat-list-icon>wb_incandescent</mat-icon>
                            #002 - Manutenção na área externa
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="container-information">
                        <div class="information">
                            <p>Sugestão cadastrada em:
                                <span>29/06/2021 às 20:47</span>
                            </p>
                            <span>Por: Grazielle Conceição</span>
                        </div>

                        <div class="description">
                            <h6>Descrição:</h6>
                            <p>Aqui vai entrar a descrição</p>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</section>